@import 'base';
@import 'theme';

.au-button
{
    @include flex($grow: 0, $direction: row);

    .au-button-layout-template
    {
        @include flex($grow: 0, $direction: row);
        @include margin();
        @include border($top: 0);
    }

    .au-layout-transparent
    {
        background: theme-var(--buttonBackground);
    }

    .au-button-layout{
        @extend .au-button-layout-template;
        @include padding(.3, .4, .3, 0);

        .au-button-icon,
        .au-button-text
        {
            @include padding($left: .5);
        }

        .au-button-rotated-icon
        {
            @include rotate(180);
        }
    }

    .au-layout-no-space
    {
        @extend .au-button-layout-template;
        @include padding();
    }

    .au-layout-hidden
    {
        visibility: hidden;
    }

    .au-layout-hovered
    {
        $background: var(--buttonHoverBackground);
        @debug red(#{$background});

        background: $background;

        au-icon{
            //color: contrast-color(rgba(theme-var(--buttonHoverBackground)));
        }
    }
}