@import 'base';
@import 'theme';
@import 'transforms';

.au-button
{
    @include flex($grow: 0, $direction: row);

    button
    {
        background: theme-var(--buttonBackground);
        @include transition(200ms background ease-out);

        au-icon
        {
            @include transition(200ms transform ease-out);
        }
    }

    .au-button-layout-template
    {
        @include flex($grow: 0, $direction: row);
        @include margin();
        @include border($top: 0);
    }

    .au-button-layout{
        @extend .au-button-layout-template;
        @include padding(.3, .4, .3, 0);

        .au-button-icon,
        .au-button-text
        {
            @include padding($left: .5);
        }

        .au-button-rotated-icon
        {
            @include rotate(180);
        }
    }

    .au-button-v-invert-icon
    {
        @include transform(scaleY(-1));
    }

    .au-button-h-invert-icon
    {
        @include transform(scaleX(-1));
    }

    .au-layout-no-space
    {
        @extend .au-button-layout-template;
        @include padding();
    }

    .au-layout-hidden
    {
        visibility: hidden;
    }

    .au-layout-hovered
    {
        background: var(--buttonHoverBackground);

        au-icon{
            color: var(--buttonHoverForeground);
        }
    }

    .au-layout-transparent
    {
        background: transparent;

        au-icon{
            color: var(--buttonTransparentForeground);
        }
    }
}