$generated-theme: (
    --tableHeaderForeground: --tableHeaderForeground,
    --tableHeaderBackground: --tableHeaderBackground,
    --tableHeaderBorderColor: --tableHeaderBorderColor,
    --tableOddRowBackground: --tableOddRowBackground,
    --tableHoveredRowBackground: --tableHoveredRowBackground,
    --tableHoveredRowCellBorderColor: --tableHoveredRowCellBorderColor,
    --tableHoveredRowSelectedBackground: --tableHoveredRowSelectedBackground,
    --tableHoveredRowSelectedBorderColor: --tableHoveredRowSelectedBorderColor,

    --buttonBackground: --buttonBackground,
    --buttonHoverBackground: --buttonHoverBackground
);