$generated-theme: (
    --tableHeaderForeground: --tableHeaderForeground,
    --tableHeaderBackground: --tableHeaderBackground,
    --tableHeaderBorderColor: --tableHeaderBorderColor,
    --tableOddRowBackground: --tableOddRowBackground,
    --tableHoveredRowBackground: --tableHoveredRowBackground,
    --tableHoveredRowCellBorderColor: --tableHoveredRowCellBorderColor,
    --tableHoveredRowSelectedBackground: --tableHoveredRowSelectedBackground,
    --tableHoveredRowSelectedBorderColor: --tableHoveredRowSelectedBorderColor,

    --buttonBackground: --buttonBackground,
    --buttonFlatBackground: --buttonFlatBackground,
    --buttonHoverBackground: --buttonHoverBackground,
    --buttonHoverForeground: --buttonHoverForeground,
    --buttonFlatHoverBackground: --buttonFlatHoverBackground,
    --buttonFlatHoverForeground: --buttonFlatHoverForeground,
    --buttonTransparentForeground: --buttonTransparentForeground
);