@import 'themes/colors';

.default-theme
{
    $buttonbackground: white;
    $buttonHoverBackground: darken($buttonbackground, 20%);
    $buttonHoverForeground: contrast-color($buttonHoverBackground);
    $buttonTransparentForeground: darken($buttonbackground, 50%);

    --tableHeaderBackground: rgb(242, 242, 242);
    --tableHeaderForeground: rgb(0, 0, 0);
    --tableHeaderBorderColor: rgb(230, 230, 230);
    --tableOddRowBackground: rgb(250, 250, 250);
    --tableHoveredRowBackground: rgb(254, 242, 199);
    --tableHoveredRowCellBorderColor: darken(var(--tableHoveredRowBackground), 25%);
    --tableHoveredRowSelectedBackground: rgb(253, 230, 143);
    --tableHoveredRowSelectedBorderColor: darken(var(--tableHoveredRowSelectedBackground), 25%);
    --buttonBackground: #{$buttonbackground};
    --buttonHoverBackground: #{$buttonHoverBackground};
    --buttonHoverForeground: #{$buttonHoverForeground};
    --buttonTransparentForeground: #{$buttonTransparentForeground};
};