@import 'variables';
@import 'mixins';
@import 'transforms';
@import 'fonts';

.b
{
    display: flex;
}

.b-e
{
    flex: 1;
}

.b-v
{
    flex-direction: column;
}

.b-h
{
    flex-direction: row;
}

.b-g
{
    flex-grow: 1;
}

.b-ng
{
    flex-grow: 0;
}

.b-ns
{
    flex-shrink: 0;
}

.b-ev
{
    @extend .b;
    @extend .b-e;
    @extend .b-v;
}

.b-eh
{
    @extend .b;
    @extend .b-e;
    @extend .b-h;
}

.borderless
{
    border: none;
    outline: none;
}

.hide-scrollbar
{
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar
    {
        width: 0;
    }
}