@import 'functions';
@import 'mixins/debug';

@import 'themes/channel-values';
@import 'themes/generated-theme';
@import "themes/default/theme";
@import "themes/modern/theme";

@debug inspect($value: current-theme());

@function theme($section-name, $name)
{
    // @debug inspect(#{var(--current-theme)});

    $theme-name: var(--current-theme);
    $theme: map-get($map: $theme-list, $key: $theme-name);

    // $section: map-get($map: $theme, $key: $section-name);

    // @return map-get($map: $section, $key: $name);
    @return 12;
}

@function theme-var($variable)
{
    $variable-name: map-get($generated-theme, $variable);

    @return var($variable-name);
}