@import 'functions';
@import 'mixins/base';

::ng-deep{
    .main-theme
    {
        --tableHeaderBackground: rgb(242, 242, 242);
        --tableHeaderForeground: #000;
        --tableHeaderBorderColor: rgb(230, 230, 230);
        --tableOddRowBackground: rgb(250, 250, 250);
        --tableHoveredRowBackground: rgb(254, 242, 199);
    }
}

$generated-theme: ();

// map-merge($generated-theme, $table-view-colors);

$variables: (
    
);

@function theme-var($variable)
{
    @return map-get($variables, --#{$variable});
}

@mixin theme-value($style, $name)
{
    #{$style}: theme-var($name);
}