@import 'base';

.au-table-view
{
    @include flex();

    .au-table
    {
        @include flex($shrink: 1);
        @include margin(
            $top: $table-view-margin,
            $right: $table-view-margin,
            $left: $table-view-margin);

        @include scroll-view(overflow-x);
        @include border(
            $all: $border-width, 
            $color: $table-view-border-color);

        .au-header
        {
            @include flex($shrink: 1);
            @include margin($right: $table-view-margin);
            @include border(
                $bottom: $table-view-header-border-bottom-width,
                $color: $table-view-header-border-color);

            color: $table-view-header-foreground;

            position: fixed;

            .au-header-layout{
                @include flex($direction: row);

                .au-header-column
                {
                    @include flex(
                        $shrink: 1, 
                        $basis: 0,
                        $direction: row,
                        $align: center);

                    @include padding($all: $table-view-inner-padding);
                    @include border($right: $table-view-inner-border-width);

                    &:last-child
                    {
                        @include border($all: 0);
                    }

                    background: $table-view-header-background;
                    font-weight: $font-header-weight;

                    .au-header-text
                    {
                        @include flex();
                    }
                }
            }
        }

        .au-body
        {
            @include flex($shrink: 0);

            .au-row
            {
                @include flex($direction: row);
                @include transition(200ms background ease-out);

                &:nth-child(odd)
                {
                    @include box-shadow(
                        inset 0 ($border-width + $main-measurement) $table-view-row-inside-border-color, 
                        inset 0 (- $border-width + $main-measurement) 0 $table-view-row-inside-border-color);
                    
                    background: $table-view-odd-row-background;
                }

                .au-body-cell
                {
                    @include flex($shrink: 1, $basis: 0);
                    @include padding($all: $table-view-inner-padding);

                    @include border($right: $table-view-inner-border-width);

                    &:last-child
                    {
                        @include border($all: 0);
                    }
                }

                &.au-body-row-hovered
                {
                    @include box-shadow(none);

                    background: $table-view-row-hovered-background;

                    @include box-shadow(inset 0 0 0
                        ($table-view-inner-border-width + $main-measurement) 
                        $table-view-row-hovered-cell-border-color);

                    .au-body-cell-hovered
                    {
                        @include border(
                            $right: $table-view-inner-border-width,
                            $color: $table-view-row-hovered-cell-border-color);

                        font-weight: $font-header-weight;

                        &:last-child
                        {
                            @include border($all: 0);
                        }
                    }
                }

                &.au-body-row-selected
                {
                    @include box-shadow(inset 0 0 0
                        ($table-view-inner-border-width + $main-measurement) 
                        $table-view-row-selected-inside-border-color);

                    @include border($all: 0);

                    background: $table-view-row-selected-background;

                    .au-body-cell-selected
                    {
                        font-weight: bold;
                        @include border(
                            $right: $table-view-inner-border-width, 
                            $color: $table-view-row-selected-cell-border-color);

                        &:last-child
                        {
                            @include border($all: 0);
                        }
                    }
                }
            }
        }
    }

    .au-scroll-panel
    {
        @include flex($direction: row);
        @include margin(
            $right: $table-view-navigation-panel-margin, 
            $left: $table-view-navigation-panel-margin, 
            $bottom: $table-view-navigation-panel-margin);
    }
}