@import 'base';

.au-table-view
{
    @include flex();

    .au-table
    {
        $table-margin: .5;

        @include flex($shrink: 1);
        @include margin($top: $table-margin, $right: $table-margin, $left: $table-margin);
        @include scroll-view(overflow-x);
        @include border($all: $border-width, $color: $table-view-border-color);

        .au-header
        {
            $table-header-border-width: .2;

            @include flex($shrink: 1);
            @include margin($right: $table-margin);
            @include border($bottom: $table-header-border-width, $color: $table-view-header-border-color);

            position: fixed;

            .au-header-layout{
                @extend .b-eh;

                .au-header-column
                {
                    @include flex($shrink: 1, $basis: 0, $direction: row, $align: center);
                    @include padding($all: 1);
                    @include border($right: .01);

                    &:last-child
                    {
                        @include border($all: 0);
                    }

                    background: $table-view-header-background;
                    font-weight: bold;

                    .au-header-text
                    {
                        @include flex();
                    }
                }
            }
        }

        .au-body
        {
            @include flex($shrink: 0);

            .au-row
            {
                @include flex($direction: row);
                @include transition(200ms background ease-out);

                &:nth-child(odd)
                {
                    @include box-shadow(
                        inset 0 1px 0 $table-view-row-inside-border-color, 
                        inset 0 -1px 0 $table-view-row-inside-border-color);
                    
                    background: $table-view-odd-row-background;
                }

                .au-body-cell
                {
                    @include flex($shrink: 1, $basis: 0);
                    @include padding($all: 1);

                    @include border($right: .01);

                    &:last-child
                    {
                        @include border($all: 0);
                    }
                }

                &.au-body-row-hovered
                {
                    @include box-shadow(none);
                    background: $table-view-row-hovered-background;

                    .au-body-cell-hovered
                    {
                        font-weight: bold;
                    }
                }

                &.au-body-row-selected
                {
                    @include box-shadow(inset 0 0 0 1px $table-view-row-selected-inside-border-color);
                    @include border($all: 0);

                    background: $table-view-row-selected-background;

                    .au-body-cell-selected
                    {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .au-scroll-panel
    {
        $panel-margin: .5;

        @include flex($direction: row);
        @include margin($right: $panel-margin, $left: $panel-margin, $bottom: $panel-margin);
    }
}