    <!-- <div class="au-header">
        <div *ngFor="let column of source.Columns"
            class="au-header-column">
            {{column.header}}
        </div>
    </div> -->
<div class="au-table-view">
    <au-command-panel
        *ngIf="useCommandPanel"
        class="au-table-view-panel"
        bindingSide="top">
        <au-button 
            icon="vertical_align_top"
            [noSpace]="true"
            text="Добавить">
        </au-button>
    </au-command-panel>

    <table *ngIf="source" [ngClass]="tableClasses()"
        #table
        (scroll)="tableBodyScroll($event)">
        <thead #tableHeader
            class="au-header">
            <tr class="au-header-layout">
                <td *ngFor="let column of source.Columns"
                    class="au-header-column"
                    (mouseover)="headerCellMouseOver(column.id)"
                    (mouseout)="headerCellMouseOver(undefined)">
                    <div class="au-header-text">{{column.header}}</div>

                    <au-button *ngIf="column.sortable"
                            icon="sort"
                            [invertVIcon]="column.sortType == 'asc'"
                            (click)="sortClick($event, column)"
                            [noSpace]="true"
                            [transparent]="true"
                            [hidden]="!column.sortable || hoveredHeaderColumnId != column.id">
                    </au-button>
                </td>
            </tr>
        </thead>
        <tbody #tableBody
            class="au-body">
            <tr *ngFor="let row of Rows"
                class="au-row"
                (click)="rowSelect(row.id)"
                (mouseover)="rowMouseOver(row.id)"
                (mouseout)="rowMouseOver(undefined)"
                [ngClass]="rowClasses(row.id)">
                <td *ngFor="let cell of row.cells"
                    class="au-body-cell"
                    [ngClass]="cellClasses(row.id)">
                    {{cell.value}}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="au-scroll-panel">
        <div auFlexBlock></div>

        <au-command-panel
            bindingSide="bottom">
            <au-button 
                    icon="vertical_align_top"
                    [noSpace]="true"
                    [flat]="true">
            </au-button>
            <au-button
                    icon="chevron_left"
                    [noSpace]="true">
            </au-button>
            <au-button 
                    icon="chevron_right"
                    [noSpace]="true">
            </au-button>
            <au-button
                    icon="vertical_align_bottom"
                    [noSpace]="true">
            </au-button>
        </au-command-panel>
    </div>
</div>