@import 'base';

html,
body
{
    @include padding($all: 0);
    @include margin($all: 0);
    @include border($all: none);

    font-size: $font-size + px;
    font-family: $font-family;

    height: 100vh;
    width: 100vw;

    user-select: none;
    overflow: hidden;
}

.au-application
{
    @include flex($direction: row);
    height: 100vh;
}